div{
    border:1px solid black;
    height: 500px;
    margin: 40px;
    margin-top: 60px;
    color:white;
    font-weight:900;
    padding-left: 37%;
    background-color: rgb(212, 13, 13);
    background-image: url("");
    background-size: cover;
}
button{
    height: 40px;
    width: 40px;
    margin-left: 5%;
}
#yes{
    background-color: red;
    color: white;
}
#no{
    background-color: black;
    color: white;
}
#no:hover{
    position: relative;
    left: 20px;
}
h1{
    background-color: black;
    width:fit-content

}